.initPage{
    height: 10px;
    width: 10px;
    position: absolute;
    top: -54px;
    display: inline-block;
}

.container, .container2, .container3, .container4 {
    height: calc(100vh - 64px);
    width: 100%;
    background-color: #f9f9f8;
    background: radial-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container link {
    text-decoration: none;
}

.nurb {
    position: absolute;
    background-image: url('../Photo/nurb.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    width: 100%;
    opacity: 0.05;
}

.title {
    position: absolute;
    background-image: url('../Photo/fordka.png');
    background-position: bottom 57% right 50%;
    background-size: 800px;
    background-repeat: no-repeat;
    transform: rotate(-5deg);
    height: 150px;
    width: 1400px;
    top: 120px;
    animation: fordka 15s infinite;
}

.carAndDescription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 550px;
}

.carAndDescription span {
    z-index: 1;
    position: fixed;
    right: 30px;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.iconsForScreen{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: invert(100%);
    cursor: pointer;
}

.borderIcons {
    top: -3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    backdrop-filter: invert(100%);
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 15px;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.car {
    background-image: url('../Photo/car2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    left: calc(50% - 650px);
    width: 650px;
    height: 450px;
}

.boxdescription {
    position: relative;
    right: calc(50% - 500px);
    backdrop-filter: blur(10px);
    bottom: -10px;
}

.description{
    display: inline-block;
    position: relative;
    padding: 30px;
    width: 450px;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4rem;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.438);
    box-shadow: -10px 10px 1px orange;
    border: 1px solid  rgba(0, 0, 0, 0.2);
}

.boxbuttons {
    position: relative;
    bottom: -25px;
    width: 430px;
    display: flex;
    justify-content: space-around;
}

.viewcar, .buildyourcar{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    scroll-behavior: smooth;
}

.viewcar::after, .buildyourcar::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../Photo/arrow.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    margin-left: 5px;
    transition: 0.25s ease-in-out;
}

.viewcar:hover::after, .buildyourcar:hover::after{
    margin-left: 15px;
}

.strongtxt{
    background-color: orange;
    display: inline-block;
    padding: 0px 6px;
    height: 1.24rem;
    transform: skewX(-6deg);
}

.scroll {
    height: 35px;
    width: 22px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: -10px;
}

.scrollt, .scrolld{
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.scrolld {
    left: 7px;
    top: 5px;
    opacity: 0;
    animation: scrolld 1s infinite;
}

.scrollt{
    left: 7px;
    top: 5px;
    animation: scrollt 1s infinite;
}

.container2 {
    display: block;
    position: relative;
}

.description2, .description3{
    position: relative;
    left: calc(50% - 550px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 550px;
    padding: 30px;
    word-wrap: break-word;
    box-shadow: -10px 10px 1px orange;
    background-color: #f9f9f8;
}

.description2 h1, .times h1{
    font-style: italic;
    font-weight: 600;
}

.description2 p, .description3 p{
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
}

.description3 {
    margin-top: 0;
    padding-top: 0;
    left: 50%;
    bottom: -100px;
    box-shadow: 10px 10px 1px orange;
}

.car2 {
    background-image: url('../Photo//car3.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: top -90px left 0px;
    width: 500px;
    height: 460px;
    position: absolute;
    left: calc(50% + 150px);
    top: 0;
    border-image: linear-gradient(90deg, transparent, transparent, orange, black, black) 10;
    border-width: 3px;
    border-style: solid;
}

.times {
    max-width: 650px;
    padding: 20px;
    bottom: 100px;
    right: calc(50% + 50px);
    position: absolute;
    border-image: linear-gradient(-90deg, transparent, transparent, orange, black, black) 10;
    border-width: 3px;
    border-style: solid;
}

.times h1 {
    list-style: none;
    display: inline-block;
    margin-bottom: 30px;
}

.times p {
    font-style: italic;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    margin-bottom: 15px;
    cursor: pointer;
}

.times p:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.times div {
    display: inline-block;
    margin-right: 40px;
}

.setScrollForContainer3 {
    width: 10px;
    height: 10px;
    position: absolute;
    display: inline-block;
    top: calc(200vh - 128px);
}

.container3 {
    width: 100%;
    padding: 0px 150px;
}

.car3 {
    background-image: url('../Photo//car5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    height: 700px;
    width: 100%;
    border-image: linear-gradient(0deg, transparent, transparent, transparent, orange, black) 10;
    border-width: 3px;
    border-style: solid;
}

.container4{
    height: 50vh;
    border-image: linear-gradient(180deg, transparent, transparent, transparent, rgba(255, 166, 0, 1), rgba(0, 0, 0, 1)) 10;
    border-width: 3px;
    border-style: solid;
}

.container5{
    background-color: black;
    height: 50vh;
    border-width: 3px;
    border-style: solid;
}

@keyframes scrolld {
    20% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scrollt {
    100% {
        top: 15px;
        opacity: 0.3;
    }
}

@keyframes fordka {
    46.3%{
        background-image: url('../Photo/fordka.png');
        transform: scale(100%);
    }
    46.7% {
        background-image: url('../Photo/fordkared.png');
        transform: rotate(-1deg);
        /*transform: scale(120%);*/
    }
    47.5%{
        background-image: url('../Photo/fordkablue.png');
        transform: rotate(3deg);
        /*transform: scale(120%);*/
    }
    47.8%{
        background-image: url('../Photo/fordka.png');
        transform: rotate(-5deg);
        transform: scale(100%);
    }
}